section#carsel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
  }
  
  section#carsel .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  section#carsel .container img {
    width: 100%;
    z-index: -2;
  }
  
  button {
    height: 5%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
  }
  
  button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
  }
  
  #right-btn {
    margin: auto 0 auto -2em;
  }
  
  #right-btn .arrow {
    transform: rotate(-45deg);
  }
  
  #left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
  }
  
  #left-btn .arrow {
    transform: rotate(135deg);
  }
  