


*                   { margin: 0;padding: 0;list-style: none;user-select: none;box-sizing: border-box;}

body { background-color: #1c1f3e; font-family: 'Courier New', Courier, monospace;color: aliceblue; }

nav {flex-direction: column;position: relative;margin: 20px;width: 600px;height: 50px;background: #4d555c;border-radius: 8px;font-size: 0;box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);font-family: 'Courier New', Courier, monospace;}
nav a {font-size: 20px;text-transform: uppercase;color: white;text-decoration: none;line-height: 50px;position: relative;z-index: 1;display: inline-block;text-align: center;font-family: 'Courier New', Courier, monospace;}
nav .animation {position: absolute;height: 100%;/*height: 5px; */top: 0;/*bottom: 0; */z-index: 0;background: #3b6770;;border-radius: 8px;transition: all .5s ease 0s;}
nav a:nth-child(1) {width: 100px;}
nav .start-home,a:nth-child(1):hover~.animation {width: 100px;left: 0px;}
nav a:nth-child(2) {width: 110px;}
nav a:nth-child(2):hover~.animation {width: 110px;left: 100px;}
nav a:nth-child(3) {width: 130px;}
nav a:nth-child(3):hover~.animation {width: 130px;left: 210px;}
nav a:nth-child(4) {width: 100px;}
nav a:nth-child(4):hover~.animation {width: 100px;left: 340px;}
nav a:nth-child(5) {width: 100px;}
nav a:nth-child(5):hover~.animation {width: 100px;left: 440px;}

h1 {font-family: 'Courier New', Courier, monospace;color: aliceblue; text-align: center;}
h2 {font-family: 'Courier New', Courier, monospace;color: aliceblue; margin-left:20%;}
h3 {font-family: 'Courier New', Courier, monospace;color: aliceblue;}
h4 {font-family: 'Courier New', Courier, monospace;color: aliceblue; text-align: center;}
p {font-family: 'Courier New', Courier, monospace;color: aliceblue; text-align: left;}
a {font-family: 'Courier New', Courier, monospace;color: aliceblue;}



main section {background-color: #1c1f3e;}

section#information .naam               {  background-color: #0b0436;height: 20%; width: 100%; font-size: 50px;padding:50px;font-family: 'Courier New', Courier, monospace; display: flex;justify-content: center; align-items: center;}
section#information .naam2               {  background-color: #37586b;height: 10%; width: 100%; font-size: 40px;padding:50px;font-family: 'Courier New', Courier, monospace; display: flex;justify-content: center; align-items: center;}
section#hoofdstuk                        {display: flex; }
section#hoofdstuk .doelomschrijving     {  background-color: #1c1f3e; width:100%; font-size: 25px; padding:70px;font-family: 'Courier New', Courier, monospace; color: white;}
section#hoofdstuk .doelomschrijvingsection2     {  background-color: #686f82; width:100%; font-size: 25px; padding:70px;font-family: 'Courier New', Courier, monospace; color: white;}
section#hoofdstuk .doelomschrijvingsection3     {  background-color: #72a8b4; width:100%; font-size: 25px; padding:70px;font-family: 'Courier New', Courier, monospace; color: white;}
section#hoofdstuk .doelomschrijvingsection4     {  background-color: #6d7f83; width:100%; font-size: 25px; padding:70px;font-family: 'Courier New', Courier, monospace; color: white;}
section#hoofdstuk .doelomschrijvingsection5    {  background-color: #1b5a69; width:100%; font-size: 25px; padding:70px;font-family: 'Courier New', Courier, monospace; color: white;}


section#hoofdstuk .titel            {  background-color: #04081d; width: 100%; font-size: 35px;padding:50px;font-family: 'Courier New', Courier, monospace; color: white; display: flex;justify-content: center; align-items: center;}
section#hoofdstuk .leerdoel           {  background-color: #1d093e;  width: 100%; font-size: 15px;padding:40px;font-family: 'Courier New', Courier, monospace; }
section#hoofdstuk .vaardigheid          {  background-color: #1d093e;  width: 100%; font-size: 25px;padding:40px;font-family: 'Courier New', Courier, monospace; }
section#hoofdstuk .vaardigheidsection2          {  background-color: #686f82;  width: 100%; font-size: 25px;padding:40px;font-family: 'Courier New', Courier, monospace; }
section#hoofdstuk .vaardigheidsection3          {  background-color: #72a8b4;  width: 100%; font-size: 25px;padding:40px;font-family: 'Courier New', Courier, monospace; }
section#hoofdstuk .vaardigheidsection4          {  background-color: #6d7f83;  width: 100%; font-size: 25px;padding:40px;font-family: 'Courier New', Courier, monospace; }
section#hoofdstuk .vaardigheidsection5          {  background-color: #1b5a69;  width: 100%; font-size: 25px;padding:40px;font-family: 'Courier New', Courier, monospace; }





.geschiedenis                           {  background-color: #8bbfcf;height: 30%; width: 100%; font-size: 25px;padding:50px;font-family: 'Courier New', Courier, monospace;}
section#zoningout                       {   display: flex; flex-direction: row-reverse;}
section#zoningout  .zoningouttekst      {  background-color: #3c4a74; font-size: 25px;padding:50px;font-family: 'Courier New', Courier, monospace;color: white;}
section#zoningout  .zoningoutimage      {  background-color: #1c1f3e;height: 30%;  font-family: 'Courier New', Courier, monospace;}








section#end                        {display: flex;}
section#end .tekstend             {   background-color: #3c4a74; font-size: 25px; padding:50px;font-family: 'Courier New', Courier, monospace;color: white;}
section#end .zoningoutimage         {  background-color: #0b092b;}

section#rip                        {display: flex;flex-direction:row-reverse;}
section#rip .tekstrip           {   background-color: #27384e; font-size: 25px;padding:50px;font-family: 'Courier New', Courier, monospace;color: white;}
section#rip .zoningoutimage         {  background-color: #0b092b;  }

section#love                      {display: flex;}
section#love .tekstlove            {   background-color: #296994; font-size: 25px; padding:50px;font-family: 'Courier New', Courier, monospace;color: white;}
section#rip .zoningoutimage         {  background-color: #0b092b;}

section#magician                        {display: flex;flex-direction:row-reverse;}
section#magician .tekstmagician            {   background-color: #1c3454; font-size: 25px;padding:50px;font-family: 'Courier New', Courier, monospace;color: white;}
section#magician .zoningoutimage         {  background-color: #0b092b;  }



footer                      { grid-area: voetstuk; height: 70px; }
header, footer              {    display: flex;justify-content: center;align-items: center; font-family: 'Courier New', Courier, monospace; background-color: #4d555c; color: #6fa4a6;height: 70px;}

